@use "sidebar";
@use "topbar";
@use "userInfo";
@use "transactionHistory";
@use "promo1";
@use "status";
@use "IncomeWallet";
@use "PromoCarousel";
@use "historyTranz";
@font-face {
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf");
  font-family: "MontserratAlternates-Medium";
}
@font-face {
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf");
  font-family: "MontserratAlternates-SemiBold";
}
@font-face {
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf");
  font-family: "MontserratAlternates-Bold";
}
@font-face {
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf");
  font-family: "MontserratAlternates-Light";
}
@font-face {
  src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf");
  font-family: "MontserratAlternates-Regular";
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #EAEBF9;
  font-family: "MontserratAlternates-Medium";
  width: 100%;
// display: flex;
// justify-content: center;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.App{

  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  gap: 30px;
  // background-color: #EAEBF9;
}
.container{
  display: flex;
  flex-direction: column;
  min-width:1200px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
  // background-color: aqua;
}
.page{
  // background-color: #ffffff;
  min-width:1000px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}